<div id="app-body">

	<header id="title">
		<div class="title-container">
			<h1>Reg-ular</h1>
			<p> a regex experiment</p>
		</div>
	</header>

	<div id="main-container">
		<div id="regex-box">
			<!--- Take regex input -->
			<!---  seperate property and event binding of ngModel for live regex check-->
			<label for="reg-input" class="l-one">/
				<input type="text" placeholder="regex here.." id="reg-input" [ngModel]="regex" (ngModelChange)="onChange($event)" class="l-one">/
				<span>g </span>
				<span>m </span>
			</label>
		</div>
		<!--regex-box close-->

		<div class="card panel-container">
			<div id="text-box" class="panel">

				<header id="t-header">
					Test String
				</header>
				<!--- Input test string here -->

				<div id="text-input" class="switchers" data-ph="Enter text here">

					<div id="highlt--input" class="stacked" [inputText]="textArea"></div>
					<textarea id="user--input" class="stacked" spellcheck="none" [ngModel]="replaceWith" (ngModelChange)="onChangeText($event)"
					 placeholder="welcome...input test string">welcome...input test string here</textarea>

				</div>



			</div>
			<!---div#text-box close-->

			<div id="out-box" class="panel">
				<match-detail [matchLog]="result" [count]="counter"></match-detail>
			</div>

		</div>



	</div>
	<!---main-container close-->

</div>