#app-body{
    overflow-y: hidden;
    position:absolute;
    height: 100%;
    width:100%;
  
}

#main-container{
    position:relative;
    margin:2% auto 2% auto;
    height:84%;
    width:86%;
}

.card{
    box-shadow:3px 3px 7px rgba(0,0,0,0.3);
    -webkit-box-shadow:3px 3px 7px rgba(0,0,0,0.3);
}

#git{
    float:right;
    padding-right:10%;
    line-height: 40px;

}

#git span{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;

}

#git a:hover{
    cursor: pointer;
}


header{
    font-family:'Cabin',sans-serif;
    background-color:#F4F4F4;
    color:#34403a;
    height:40px;
    padding-left:8%;
    padding-top:12px;
}

header>span{
    font-family: 'Raleway',sans-serif;
    font-size:1.5em;
    padding-right:25px;
    color:285238;
    font-weight:600;
}



#regex-box{
   
    position: relative;
    top:1%;
    width:94%;
    height:8%;
    margin:0 auto 1% auto;
    text-align: center;
}

#t-header{
    position:absolute;
    box-sizing:border-box;
    width:100%;
    padding:3%;
    height:80px;
    color:aliceblue;
    background-color:#009ddc;

}

#t-header button{
    background-color:#2a2d34;
    color:aliceblue;
    border:none;
    border-radius: 2px;
    height:30px;
    
}

#t-header button:active:focus{
    outline:none;
}

#t-header button:hover{
    cursor: pointer;
}

#reg-input{
    border:none;
    width:50%;
    background-color:transparent;
    padding-right:3%;
    padding-left:3%;
    height: auto;
    padding-bottom:7px;
    font-weight: 500;
    
}
#reg-input:focus{
    outline:none;
  box-shadow:0px 10px 7px -4px rgba(0,0,0,0.3);
    -webkit-box-shadow:0px 10px 7px -4px rgba(0,0,0,0.3);
}

#sub-input:focus{
    outline:none;
}

.l-one{
    font-size:1.3em;
    padding:1%;
    margin-top:1%;
    font-weight: bold;
    color:#395c6b;
}



.panel{
    display: inline-block;
    vertical-align:top;
    margin-top:1%;
    border-style: solid;
}

#text-box{
    width:60%;
    height:80%;
    position:relative;
    margin-right: 2%;
    border-color: #009ddc;
    border-width: 5px;
    font-family: 'Arimo',sans-serif;
}


#out-box{
     position:relative;
     width:32%;
    height:80%;
    margin-left:2%;
    border-color:#009b72;
    border-width:5px;
}

.t-content{
    float:left;
    margin:2px 5px 5px 0px;
    
}

input.t-content {
    box-sizing: border-box;
    border:none;
    border-bottom:2px solid aliceblue;
    position:relative;
    top:0px;
    margin-top:-1%;
    width:50%;
    background-color:transparent;
    margin-left:2%;
    color:aliceblue;
    display: inline-block;
    vertical-align: bottom;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.flag-input{
    display:inline-block;
    vertical-align: bottom;
}

.switchers{
    position:absolute;
     width:90%;
   
    display: block;
    overflow:auto;
    padding:3%;
    border:none;
    margin:0 auto;
}

div#text-input{
    line-height: 2em;
     color: #686567;
     top:86px;
     bottom:0px;
    background-color: #F7F9F9;
}

div#text-input:focus{
    outline: 0px solid transparent;
}

#substitute{
    font-size:1em;
     color: #686567;
      bottom:0px;
    background-color:#F7F9F9;
    top:86px;
}


[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-ph);
}



